@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin:0;
    padding : 0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(pexels-amirali-beigi-792326.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
    margin-left: 50px;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 800;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
}
.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
    margin-top: 30px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentbox h3
{
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.contentbox p
{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.w50
{
    min-width: 50%;
}
img
{
    max-width: 100%;
}
.service
{
    background: #111;
}
.heading.white
{
    color: #fff;
}
.service .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.service .content .servicebox
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.service .content .servicebox:hover
{
    background: #2196f3;
}
.service .content .servicebox img
{
    max-width: 80px;
    filter: invert(1);
}
.service .content .servicebox h2
{
    font-size: 20px;
    font-weight: 600;
}
.work .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workbox
{
    width: 50%;
    padding: 20px;
}
.work .content .workbox img
{
    max-width: 100%;
}
.testimonial
{
    background-color: #f7f7f7;
}
.testimonial .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testnomialbox
{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}
.testimonial .content .testnomialbox p
{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testnomialbox h3
{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.testimonial .content .testnomialbox h3 span
{
    font-size: 14px;
    font-weight: 400;
}
.contact
{
    background: #111;
}
.contact .heading
{
    color: #fff;
}
.formbox
{
    min-width: 60%;
}
.formbox form
{
    display: flex;
    flex-direction: column;
}
.formbox form h3,
.contactinfo h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formbox form input
{
    margin-bottom: 20px;
}
.formbox form input,
.formbox form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #222;
    color: #fff;
    resize: none;
}
.formbox form textarea
{
    min-height: 200px;
}
.formbox form input::placeholder,
.formbox form textarea::placeholder
{
    color: #999;
}
.formbox form input[type="submit"]
{
    max-width: 100px;
    background-color: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactinfo
{
    min-height: 40%;
}
.contactbox
{
    position: relative;
}
.contactbox .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactbox .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.contactbox .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactbox .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
@media(max-width:991px)
{
    header,
    header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active
    {
        left: 0;
    }
    header ul li a
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url("menu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active
    {
        background: url("close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle
    {
        filter: invert(1);
    }
    section
    {
        padding:100px 50px ;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;

    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2
    {
        font-size: 24px;
    }
    .contactbox h3
    {
        font-size: 20px;
    }
    .content
    {
        flex-direction: column;
    }
    .w50
    {
        margin-bottom: 20px;
    }
    .service .content .servicebox
    {
        margin: 10px;
    }
    .work .content .workbox
    {
        width: 100%;
        padding: 10px;
    }
    .testimonial .content .testnomialbox
    {
        max-width: calc(100%-20px);
        padding: 40px 20px;
        margin: 10px;
        background: #2196f3;
    }
    .testimonial .content .testnomialbox h3
    {
        margin-top: 20px;
    }
    .contactinfo
    {
        margin: 20px 0;
    }
}